<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <link
      href="/static/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
    />
    <script
      src="/static/js/bootstrap.bundle.min.js"
      integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
    ></script>

    <script src="/static/js/openfsd/api.js"></script>

    <title>openfsd - {{ template "title" . }}</title>

    <style>
      .toggle-theme-btn-container {
        height: 32px;
      }
      .toggle-theme-btn:active {
        border: none;
      }
      .toggle-theme-btn:focus {
        border: none;
      }
      body {
        transition-property: background-color, color;
        transition-duration: 100ms;
        transition-timing-function: ease-in-out;
      }
    </style>
  </head>
  <script>
    function getTheme() {
      const theme = localStorage.getItem("openfsd-theme");
      if (!theme) {
        if (
          window.matchMedia &&
          window.matchMedia("(prefers-color-scheme: dark)").matches
        ) {
          return "dark";
        }
        return "light";
      }
      return theme;
    }

    function setTheme(theme) {
      document.documentElement.setAttribute("data-bs-theme", theme);
      localStorage.setItem("openfsd-theme", theme);
    }

    setTheme(getTheme());
  </script>
  <body>
    <div
      class="container-fluid p-2 d-flex justify-content-between align-items-center border-bottom border-1"
    >
      <a href="/dashboard" class="d-flex align-items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
          id="Layer_1"
          x="0px"
          y="0px"
          width="32px"
          height="32px"
          viewBox="0 0 120.135 120.148"
          style="enable-background: new 0 0 120.135 120.148"
          xml:space="preserve"
        >
          <g>
            <path
              style="fill: #212529"
              d="M105.771,120.147c7.933,0,14.363-6.438,14.363-14.359V14.352C120.134,6.422,113.702,0,105.771,0H14.337   C6.408,0,0,6.422,0,14.352v91.436c0,7.922,6.408,14.359,14.337,14.359H105.771z"
            />
            <path
              style="fill: #ffffff"
              d="M14.337,2.435c-6.564,0-11.908,5.347-11.908,11.917v91.436c0,6.58,5.344,11.926,11.908,11.926   h91.434c6.584,0,11.932-5.346,11.932-11.926V14.352c0-6.57-5.348-11.917-11.932-11.917H14.337z"
            />
            <path
              style="fill: #212529"
              d="M54.82,16.917c0.023-7.053,10.66-7.053,10.66,0.202V46.74l41.453,24.925v10.947l-41.264-13.58v22.129l9.547,7.479v8.641   l-14.723-4.57l-14.719,4.57V98.64l9.45-7.479V69.032l-41.289,13.58V71.665L54.82,46.74V16.917z"
            />
          </g>
        </svg>
        <div class="ms-2">openfsd</div>
      </a>
      <div
        class="toggle-theme-btn-container d-flex align-items-center justify-content-center"
      >
        <button id="theme-toggle" class="btn toggle-theme-btn"></button>
      </div>
    </div>
    {{ template "body" . }}
  </body>
  <script>
    const moonSvg = `<svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="#212529"
            d="M12 1.992a10 10 0 1 0 9.236 13.838c.341-.82-.476-1.644-1.298-1.31a6.5 6.5 0 0 1-6.864-10.787l.077-.08c.551-.63.113-1.653-.758-1.653h-.266l-.068-.006z"
          />
        </svg>`;
    const sunSvg = `<svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="#ffffff"
            d="M12 19a1 1 0 0 1 .993.883L13 20v1a1 1 0 0 1-1.993.117L11 21v-1a1 1 0 0 1 1-1m6.313-2.09l.094.083l.7.7a1 1 0 0 1-1.32 1.497l-.094-.083l-.7-.7a1 1 0 0 1 1.218-1.567zm-11.306.083a1 1 0 0 1 .083 1.32l-.083.094l-.7.7a1 1 0 0 1-1.497-1.32l.083-.094l.7-.7a1 1 0 0 1 1.414 0M4 11a1 1 0 0 1 .117 1.993L4 13H3a1 1 0 0 1-.117-1.993L3 11zm17 0a1 1 0 0 1 .117 1.993L21 13h-1a1 1 0 0 1-.117-1.993L20 11zM6.213 4.81l.094.083l.7.7a1 1 0 0 1-1.32 1.497l-.094-.083l-.7-.7A1 1 0 0 1 6.11 4.74zm12.894.083a1 1 0 0 1 .083 1.32l-.083.094l-.7.7a1 1 0 0 1-1.497-1.32l.083-.094l.7-.7a1 1 0 0 1 1.414 0M12 2a1 1 0 0 1 .993.883L13 3v1a1 1 0 0 1-1.993.117L11 4V3a1 1 0 0 1 1-1m0 5a5 5 0 1 1-4.995 5.217L7 12l.005-.217A5 5 0 0 1 12 7"
          />
        </svg>`;

    function toggleTheme() {
      const currentTheme = getTheme();
      const newTheme = currentTheme === "dark" ? "light" : "dark";
      setTheme(newTheme);
      document.getElementById("theme-toggle").innerHTML =
        newTheme === "dark" ? sunSvg : moonSvg;
    }

    document.addEventListener("DOMContentLoaded", function () {
      const themeToggleButton = document.getElementById("theme-toggle");
      themeToggleButton.innerHTML = getTheme() === "dark" ? sunSvg : moonSvg;
      themeToggleButton.addEventListener("click", toggleTheme);
    });
  </script>
</html>
